@font-face {
    font-family: "conthrax";
    src: url(Fonts/conthrax/);
}

:root {
    --roxo-OnTheGame: #6500FA;
}

:root {
    --cinza-OnTheGame: #212121;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--roxo-OnTheGame); */

}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-color: black;
}

header .container-grid {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    position: relative;
  }
  
  .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    font-size: 22px;
    text-align: center;
  }

body {
    background-color: var(--roxo-OnTheGame);
}

nav.menu {
    width: 300px;
    display: flex;

}

.menu a {
    font-size: 15px;
    font-family: 'conthrax';

    color: white;
    padding: 10%;
    text-decoration-color: none;
}

.campo-pesquisa {
    font-family: "conthrax";
    display: flex;
    border-radius: 800px;
}

.menu-button {
    font-family: "conthrax";
    background-color: #6500FA;
    padding: 20px;
}

nav.menu {
    background-color: #6500FA;

    padding: 10px;
}

#nos {
    font-family: "conthrax";
    font-size: 15px;
    color: white;
    background-color: var(--cinza-OnTheGame);

    height: 700px;
    padding: 100px;


    display: flex;
    text-align: center;
    justify-content: space-between;

}

#nossas-artes {
    font-family: "conthrax";
    font-size: 15px;
    color: white;
    background-color: var(--cinza-OnTheGame);

    text-align: center;
    padding: 70px;
    margin: 50px;
    
}

#servir {
    font-family: "conthrax";
    font-size: 15px;
    color: white;

    text-align: center;
    margin: 50px;
}

#sobre {
    font-family: "conthrax";
    font-size: 15px;
    color: white;
    background-color: var(--cinza-OnTheGame);

    text-align: center;
    margin: 50px;
}

#sobre img {
    filter: opacity(70%);

}

footer {
    background-color: black;
}

footer .container-grid {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav.menu-mais {
    font-family: "conthrax";
    font-size: 15px;
    color: white;
}
