@font-face {
    font-family: "conthrax";
    src: url(Fonts/conthrax/);
}

:root {
    --roxo-OnTheGame: #6500FA;
}

:root {
    /* --cinza-OnTheGame: #212121; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

.container-grid img {
    display: flex;
}
header {
    background-color: black;
}

header .container-grid {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-somos{
    display: flex;
    margin: auto;
    justify-content: center;
}

.texto-somos h2{
    display: flex;
    justify-content: center;
    padding-top: 37px;
    font-family: "conthrax";
    font-size: 20px;
    color: white;
    background-color: #212121;
    border-radius: 150px;
    width: 50%;
    margin-top: 30px;
    height: 12vh;

}

.container {
    position: relative;
    display: flex;
    align-items: center;
}


.texto {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;

    font-size: 22px;
    text-align: center;

}

body {
    background-color: var(--roxo-OnTheGame);
}

.menu button {
    height: 56px;
    width: 130px;
    display: flex;

    /* gap: 15px; */
    align-items: center;
    justify-content: center;
    flex-direction: row;

    font-family: "conthrax";
    color: white;
    background-color: var(--roxo-OnTheGame);

}

nav.menu img {
    border-radius: 50%;
}

.menu a {
    font-size: 15px;
    font-family: 'conthrax';
    background-color: #6500FA;
    height: 45px;
    width: 130px;
    color: white;
    padding: 10%;
    text-decoration-color: none;
    display: flex;
    align-items: center;

}

.campo-pesquisa input {
    font-family: "conthrax";
    display: flex;
    border-radius: 800px;
    border: none;
    padding: 20px;
}

.menu button {
    display: flex;
    justify-content: center;
}

.menu-button button {
    background-color: #6500FA;
    height: 56px;
    width: 130px;
    font-family: 'conthrax';
    color: white;
    font-weight: 300;
}


#nos {
    font-family: "conthrax";
    font-size: 15px;
    color: white;


    height: 700px;
    padding: 100px;

    display: flex;
    text-align: center;
    justify-content: space-between;

}

#nos h2 {
    background-color: #212121;
    height: 371px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#nos img {
    width: 51%;
}

#nossas-artes {
    font-family: "conthrax";
    font-size: 15px;
    color: white;
    background-color: var(--cinza-OnTheGame);

    text-align: center;

    padding: 70px;
    margin: 50px;

}

#servir {
    font-family: "conthrax";
    font-size: 15px;
    color: white;

    text-align: center;
    margin: 10%;
    display: flex;
    justify-content: center;
    position: relative;
}

#servir h2{
    margin-bottom: 5%;
    background-color: #212121;
    border: none;
    border-radius: 50px;
    padding: 2%;
    padding-top: 2%;
    width: 550px;
    display: flex   ;
    justify-content: center;

}

.texto1{
    position: absolute;
    margin-top: 0.5%;
    padding: 100px;
    display: flex;
    
}

.texto2{
    position: absolute;
    margin-top: 0.5%;
    padding: 130px;
    display: flex;
    
}

#sobre {
    font-family: "conthrax";
    font-size: 15px;
    color: white;
    /* background-color: var(--cinza-OnTheGame); */

    text-align: center;
    margin: 50px;
    position: relative;
}



#sobre h2 {

    height: 371px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* cases - cases - cases - cases - cases - cases - cases - cases - */

#cases-de-sucesso {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    
    margin-top: 80%;
    margin-bottom: 50%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 50px;
}

p.onthegame{
    position: absolute;
    display: flex;
}

p.onthegame2{
    position: absolute;
    display: flex;
    margin: 13vh;
}

.container-grid-cases h2 {
    background-color: var(--cinza-OnTheGame);
    text-align: center;
    margin-top: 15%;
    padding: 50px;
    border-radius: 50px;
    margin-top: 20%;
    margin-bottom: 2.3%;
}

div.container-grid-cases{
    
    font-family: "conthrax";
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction:column;
    gap: 12%;    
    
    width: 90.5vw;
    
    text-align: center;
    margin-bottom: 50%;

    background-color: var(--cinza-OnTheGame);
}

img.img1{
    height: 90px;
    width: 20%;
    display: flex;
    margin-left: 36vw;
    margin-top: 14vh;
}

img.img2{
    height: 90px;
    width: 30%;
    display: flex;
    margin-left: 34vw;
    margin-top: 14vh;
}

img.img3{
    height: 80px;
    width: 20%;
    display: flex;
    margin-left: 36.9vw;
    margin-top: 14vh;
}

.texto-img1{
    border-radius: 100px;
    width: 80%;
    margin: 100px;
    background-color: #212121;
    height: 160px;
    padding: 10vh;
    margin-left: 150px;
}

.texto-img2{
    border-radius: 100px;
    width: 80%;
    margin: 100px;
    background-color: #212121;
    height: 160px;
    padding: 10vh;
    margin-left: 150px;
}

.texto-img3{
    border-radius: 100px;
    width: 80%;
    margin: 100px;
    background-color: #212121;
    height: 160px;
    padding: 10vh;
    margin-left: 150px;
}


form h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}

form .grid-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.campo label {
    text-align: left;

}

.campo {
    width: 60%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;
}

.campo-descricao {
    width: 60%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.campo input {
    height: 40px;

    color: white;
    background-color: #351865;

    border: none;
    border-radius: 4px;
}

.campo-descricao textarea {
    color: white;
    background-color: #351865;

    border: none;
    border-radius: 4px;

    text-indent: 10px;

    outline: none;

    padding: 10px;

    resize: none;
}

.campo label,
.campo-descricao label {
    margin-bottom: 15px;
}

.campo input,
.campo-descricao textarea {
    font-family: "conthrax";
    font-size: 17px;
}

.campo input::placeholder,
.campo-descricao textarea::placeholder {
    color: #cd6fff
}

.campo input:focus,
.campo-descricao textarea:focus {
    outline: 2px solid var(--cinza-OnTheGame);
}


#portifolio {
    font-family: "conthrax";
    font-size: 15px;
    color: white;
    background-color:#212121;
    

    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;
    height: 105vh;
    
    }

form button {
    height: 30px;
    width: 20%;
    background-color: #351865;
    border-radius: 50px;
    font-family: "conthrax";
    color: #cd6fff;
}


footer {
    background-color: black;
}

footer .container-grid {
    height: 150px;
    margin-top: 60%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: black;
}


nav.menu-mais {
    display: flex;

    font-family: "conthrax";
    font-size: 15px;
    color: white;
}

nav.menu-mais-a {
    display: flex;

    font-family: "conthrax";
    font-size: 15px;
    color: white;
}

.teste {
    display: flex;
    flex-direction: row;

    gap: 20px;
}

.teste-2 {
    display: flex;
    flex-direction: column;
}

.siga-nos {
    padding-bottom: 20px;
}

.menu-mais-a {
    display: flex;
    flex-direction: row;

    gap: 20px;
}

/*teste-3{
    display: flex;
    flex-direction: row;

    gap: 5px;
}