@font-face {
    font-family: "conthrax";
    src: url(Fonts/conthrax/);
}

:root {
    --roxo-OnTheGame: #6500FA;
}

:root {
    --cinza-OnTheGame: #212121;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--roxo-OnTheGame); */
    
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

header{
    background-color: black;
}


header .container-grid{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body{
    background-color: var(--roxo-OnTheGame);
}

nav.menu {
    width: 300px;
    display: flex;
    
}

.menu a {
    font-size: 15px;
    font-family: 'conthrax';

    color: white;
    padding: 10%;
    text-decoration-color: none;

}

.campo-pesquisa{
    
}

.menu-button{
    font-family: "conthrax";
    background-color: #6500FA;
    padding: 5px;
}

nav.menu{
    background-color: #6500FA;

    padding: 10px;
}

#sobre{
    font-family: "conthrax";
    font-size: 15px;
    color: white;
    
    height: 700px;
    padding: 100px;
    

    display: flex;
    text-align: center;
    justify-content: space-between;
}

#nossas-artes{
    font-family: "conthrax";
    font-size: 15px;
    color: white;

    text-align: center;
}

#servir{
    font-family: "conthrax";
    font-size: 15px;
    color: white;

    text-align: center;
}




