/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-header {
    display: flex;
    background-color: black;
    height: 100px;
    align-items: center;
}

.container-navegacao {
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    /* gap: 30px; */
/* }

.menu-text {
/* } */ 